{% extends 'base/base.html' %}
{% load widget_tweaks %}
{% block title %}
Prayers : Cuenta
{% endblock %}

{% block content %}
<div class="container d-flex justify-content-center mt-5">
    <div class="card form w-100 text-center">
        <p>Olvidaste tu contraseña? Ingresa tu correo electronico
            y te vamos a mandar las instrucciones para cambiar tu contraseña
        </p>
        <form action="" method="post">
            {% csrf_token %}
            <div class="form-group">
                {{ form.email|append_attr:"class:form-control"  }}
            </div>

            <input type="submit" class="btn login" name='send email' value="Guardar">
        </form>

    </div>
</div>

{% endblock %}