{% extends 'base/base.html' %}
{% load widget_tweaks %}
{% block title %}
Prayers : Cuenta
{% endblock %}

{% block content %}
<div class="container d-flex justify-content-center mt-5">
    <div class="card form w-100 text-center">
        <form action="" method="post">
            {% csrf_token %}
            <h2>Escribe tu nueva contraseña dos veces</h2>
            <!-- DISPLAY MESSAGES IF ANY -->
            {% if form.errors %}
            <div class="container">
                {% for field, errors in form.errors.items %}
                {% for error in errors %}
                <div class="alert alert-danger" role="alert">{{ error }}</div>
                {% endfor %}
                {% endfor %}
            </div>
            {% endif %}
            <span>Nueva contraseña:</span>
            {{ form.new_password1|append_attr:"class:form-control" }}
            <span>Confirma tu contraseña:</span>
            {{ form.new_password2|append_attr:"class:form-control" }}
            <input type="submit" value="cambiar contraseña">
        </form>
    </div>
</div>

{% endblock %}