{% extends 'base/base.html' %}

{% block title %}
Prayers : Registro
{% endblock %}

{% block content %}
<div class="container d-flex justify-content-center">
    <div class="card form w-100 text-center">
        <h1>Registro</h1>
        <!-- DISPLAY MESSAGES IF ANY -->
        {% include 'base/form_errors_snippet.html' %}
        <form action="" method="post">
            {% csrf_token %}
            {% for field in form %}
            <div class="form-group">
                {{field}}
            </div>
            {% endfor %}
            <div class="form-group">
                <input type="submit" class="btn register" value="registrate">
            </div>
        </form>
        <p class="text-muted">Ya tienes una cuenta? <a href="{% url 'login' %}" class="accounts-link">Inicia Sesion.</a>
        </p>
    </div>
</div>
{% endblock %}