{% extends 'base/base.html' %}

{% block title %}
Prayers : Inicio Sesion
{% endblock %}

{% block content %}
<div class="container d-flex justify-content-center">
    <div class="card form w-100 text-center">
        <h1>Registro</h1>
        <!-- DISPLAY MESSAGES IF ANY -->
        {% if form.errors %}
        <div class="container">
            {% for field, errors in form.errors.items %}
            {% for error in errors %}
            <div class="alert alert-danger" role="alert">{{ error }}</div>
            {% endfor %}
            {% endfor %}
        </div>
        {% endif %}
        <form action="" method="post">
            {% csrf_token %}
            {% for field in form %}
            <div class="form-group">
                {{field}}
            </div>
            {% endfor %}
            <div class="form-group">
                <input type="submit" class="btn register" value="registrate">
            </div>
        </form>
        <p class="text-muted">Ya tienes una cuenta? <a href="{% url 'login' %}" class="accounts-link">Inicia Sesion.</a>
        </p>
    </div>

</div>


{% endblock %}