{% extends 'base/base.html' %}

{% block title %}
Prayers : Cuenta
{% endblock %}

{% block content %}
<div class="container d-flex justify-content-center">
    <div class="card form w-100 text-center">
        <div class="position-absolute" style="top: 3.5rem;">
            <a href="{% url 'home' %}" class="btn menu-link"><i class="fas fa-arrow-left"></i></a>
        </div>
        <h1>Actualizar Cuenta</h1>
        <!-- DISPLAY MESSAGES IF ANY -->
        {% include 'base/form_errors_snippet.html' %}

        <form class="md-form mt-4" action="" autocomplete="off" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-group">
                {{ form.username }}
            </div>
            <div class="form-group">
                {{ form.email }}
            </div>
            <div class="form-group">
                {{ profile_form.image }}
            </div>
            <div class="form-group">
                {{ profile_form.bio }}
            </div>
            <div class="form-group">
                {{ profile_form.role }}
            </div>
            <input type="submit" class="register btn" value="actualizar">
        </form>

    </div>

</div>

{% endblock %}