{% extends 'base/base.html' %}

{% block title %}
Prayers : Inicio
{% endblock %}


{% block content %}
<div class="centered p-4">
	<!-- DISPLAY MESSAGES IF ANY -->
	{% include 'base/messages_snippet.html' %}
	<div>
		<a href="{% url 'home' %}" class="btn menu-link mb-2"><i class="fas fa-arrow-left"></i></a>
	</div>
	{% if staff %}
	<div class="users">
		{% for staff_user in staff %}
		<div class="user m-2">
			<a href="{% url 'add_prayer' prayer_id=prayer.id %}?user_id={{ staff_user.id }}" class="prayer-author">
				<img src="{{ staff_user.profile.image.url }}" alt="{{ prayer.author }} profile" class="avatar">
			</a>
			{{ staff_user }}
		</div>
		{% endfor %}
	</div>
	{% else %}
	<div class="alert alert-danger" role="alert">
		No hay usuarios para asignar este motivo
	</div>
	{% endif %}
</div>
{% endblock %}