{% extends 'base/base.html' %}
{% load widget_tweaks %}

{% block title %}
Prayers : Editar Motivo
{% endblock %}

{% block content %}
<div class="container d-flex justify-content-center">
    <div class="card form w-100 text-center">
        <!-- DISPLAY MESSAGES IF ANY -->
        {% include 'base/messages_snippet.html' %}
        <form action="" method="post">
            {% csrf_token %}
            {% for input in form %}
            <div class="form-group my-2">
                {% if input.field.widget.input_type != 'checkbox' %}
                {{ input|append_attr:"class:form-control" }}
                {% else %}
                {{ input|append_attr:"" }}
                <label class="form-check-label">Privado</label>
                {% endif %}

            </div>
            {% endfor %}
            <input type="submit" class="btn login" value="Guardar">
        </form>
    </div>

</div>
{% endblock %}