{% extends 'base/base.html' %}
{% load widget_tweaks %}

{% block title %}
Prayers : Editar Motivo
{% endblock %}

{% block content %}
<div class="container d-flex justify-content-center">
    <div class="card form w-100 ">
        <!-- DISPLAY MESSAGES IF ANY -->
        {% include 'base/messages_snippet.html' %}
        <div>
            <a href="{% url 'home' %}" class="btn menu-link mb-2"><i class="fas fa-arrow-left"></i></a>
        </div>
        <form action="" method="post">
            {% csrf_token %}
            {% for input in form %}
            <div class="form-group my-2 text-center">

                {% if input.field.widget.input_type == 'checkbox' %}
                {{ input }}
                <label class="form-check-label">Privado</label>
                {% else %}
                {{ input|append_attr:"class:form-control" }}
                {% endif %}
            </div>
            {% endfor %}
            <input type="submit" class="btn login" value="Editar">
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-danger w-100 mt-2" data-toggle="modal" data-target="#confirm_modal">
                Eliminar
            </button>

            <!-- Modal -->
            <div class="modal fade" id="confirm_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="confirm_modal">¿Estas seguro que quieres eliminar tu motivo?
                            </h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-footer text-light">
                            <a class="btn btn-info" data-dismiss="modal">Cerrar</a>
                            <a href="{% url 'delete_prayer' prayer_id=prayer.id %}" class="btn btn-danger">Confirmar</a>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>

</div>
{% endblock %}