<article class="card">
    <div class="content">
        <div class="center">
            <div class="card-header">
                <div class="d-flex justify-content-between align-items-center">
                    <h4 class="card-title text-center">{{ prayer.title }}</h4>

                    <a href="{% url 'account' user_id=prayer.author.id %}" class="prayer-author">
                        <img src="{{ prayer.author.profile.image.url }}" alt="{{ prayer.author }} profile"
                            class="avatar">
                    </a>
                </div>

                <em>{{ prayer.author }}</em>
            </div>

            <div class="card-body">
                <em class="text-muted">{{ prayer.get_category_display }}</em>

                <p>{{ prayer.body }}</p>
                <div class="bg-light d-flex justify-content-between">
                    {% if user != prayer.author %}
                    {% if not prayer in user.profile.praying.all %}
                    <a href="{% url 'add_prayer' prayer_id=prayer.id %}" class="btn btn-info"><i
                            class="fas fa-pray"></i></a>
                    {% else %}
                    <a href="{% url 'remove_prayer' prayer_id=prayer.id %}" class="btn btn-danger"><i
                            class="fas fa-minus-circle"></i></a>
                    {% endif %}
                    {% else %}
                    <a href="#" class="btn btn-warning"><i class="fas fa-edit"></i></a>
                    {% endif %}
                    <footer class="blockquote-footer text-muted bg-light">{{ prayer.created }}</footer>
                </div>
            </div>
        </div>
    </div>

</article>