*{
	box-sizing: border-box;
}

.prayer-author img:hover{
    opacity: .7;
}
.prayer-author img{
	width: 50px;
    height: 50px;
    transition: .5s ease;
}
.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
    grid-gap: 0.75rem; /* To define the gap between rows/columns */
    gap: 0.75rem;
  }

@media all and (min-width: 1024px) and (max-width: 1280px) { 
    .cards
    {
        grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
    }
}

@media all and (min-width: 768px) and (max-width: 1024px) { 
    .cards
    {
        grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    }
}

@media all and (min-width: 480px) and (max-width: 768px) {
    .cards
    {
        grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    }
 }

@media all and (min-width: 350px) and (max-width: 480px) {
    .cards
    {
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }
 }

@media all and (max-width: 349px) {
    .cards
    {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }
 }

 /* New Prayer */
